.logo {
    height: 50px;
    background: rgb(214, 214, 214);
    margin: 16px;
    display: flex;
    overflow: hidden;
  }

.i3eIcon{
  max-width: 50px;
  max-height: 168px;
  margin-left: auto;
  margin-right: auto;
}

.i3eTitle{
  color: rgb(17, 49, 226);
  text-align: center;
  text-shadow: 1px 1px 1px rgb(10, 10, 10);
}
